/*Logowanie, Rejestracja*/
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-image: url('/images/Tlo.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    font-weight: 500;
}

.okno_glowne {
    background-image: url('/images/Okno1.png');
    background-size: cover;
    width: 1444px;
    height: 841px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 19px;
}
.logo_glowne{

}
.okno_logowanie {
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(242, 241, 241) 20%);
    height: 460px;
    width: 435px;
    border: black solid 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    font-weight: 500;
}

.btn_zaloguj {
    width: 200px;
    height: 50px;
    border: black solid 4px;
    border-radius: 20px;
    font-family: Impact;
    font-size: 26px;
    background-color: #359b1d;
    margin-bottom:20px;
}

.form_logowanie input {
    border: black solid 3px;
    border-radius: 20px;
    width: 250px;
    height: 45px;
    margin-bottom: 10px;
    font-size: 18px;
    text-align:center;
    background-color:#ffffff;
}
.okno_logowanie p {
    margin-bottom: 20px;
    font-size: 19px;
}

#powitanie {
    font-size: 25px;
    padding-bottom: 0px;
}
a{
    text-decoration:none;
    color:black;
}

/*Panel Admina*/
.okno_panelAdmin1 {
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(242, 241, 241) 20%);
    height: 460px;
    width: 700px;
    border: black solid 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    font-weight: 500;
}

.div_przyciski {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 50px;
    height: 200px;
    background-color: #b4b4b4;
    border-radius: 50px;
    padding: 20px 20px;
    border: black solid 5px;
    margin-bottom:10px;
}
.btn_przycisk {
    width: 250px;
    height: 100px;
    border: black solid 5px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 30px;
    background-color: #359b1d;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/*Dodawanie konia*/
.text-danger {
    color: red;
    margin: 10px;
    font-size: 18px;
}

.label_dodaj {
    border: black solid 2px;
    border-radius: 20px;
    width: 200px;
    height: 30px;
    font-size: 18px;
    text-align: center;
    background-color: #ffffff;
}
.form_dodaj {
    display: flex;
    flex-direction: column;
    width: 400px;
    font-size: 18px;
    gap: 5px;
    background-color: rgba(168, 168, 168, 1);
    border-radius: 20px;
    border: black solid 2px;
    padding: 10px 5px;
}

/*Stajnia*/
.table {
    background-color: rgba(168, 168, 168, 1);
    border-radius: 20px;
    border: black solid 2px;
    padding: 10px 5px;
    margin: 20px 5px;
    font-size: 16px;
    font-family: Tahoma;
}
.table td {
    padding: 5px 5px;
    border: black solid 2px;
    border-radius: 10px;
    background-color: white;
}
.table th {
    padding: 5px 5px;
    border: black solid 2px;
    border-radius: 10px;
    background-color: #359b1d;
    font-family: Impact;
    font-size: 18px;
    font-weight:lighter;
}
.p_sortuj{
    margin:0px;
}
.form_filtr {
    margin: 0px;
    margin-bottom: 10px;
    display:flex;
    gap:10px;
}
.form_filtr input{
    border: black solid 2px;
    border-radius: 15px;
    width: 200px;
    height: 25px;
    font-size: 16px;
    text-align: center;
    font-family: Tahoma;
    background-color: #ffffff;
}
.form_filtr button{
    width: 130px;
    height: 30px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 18px;
    background-color: #359b1d;
    text-align: center;
    font-weight:lighter;
}

/*Usuwanie*/
.btn_usun {
    width: 150px;
    height: 40px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 22px;
    background-color: red;
    margin: 20px;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

/*Szczegoly*/
.div_szczegoly {
    display: flex;
    width: 470px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background-color: rgba(168, 168, 168, 1);
    border-radius: 20px;
    border: black solid 3px;
    padding: 30px 20px;
    margin: 10px 5px;
    font-size: 16px;
    text-align:left;
}
.zdj {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
    border: black solid 2px;
}

/*Dodaj wyscig*/
.div_dodaj2{
    display:flex;
    width:700px;
    height:300px;
    align-items:center;
    padding:20px;
    font-family:Tahoma;
}

.dodaj_multiple {
    width: 250px;
    height: 100px;
    font-size: 18px;
    font-family: Tahoma;
    
}
.a_statystyka {
    display: flex;
    flex-direction: column;
    width: 200px;
    font-size: 26px;
    font-family:Impact;
    gap: 5px;
    background-color: #359b1d;
    border-radius: 20px;
    border: black solid 3px;
    padding: 10px 5px;
    margin-bottom:20px;
}

/*   ===USER===   */
.okno_gra {
    background: linear-gradient(180deg,rgba(168, 168, 168, 1) 0%, rgb(242, 241, 241) 20%);
    height: 700px;
    width: 1200px;
    border: black solid 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Tahoma;
    font-weight: 500;
}
.logo_mniejsze{
    width:150px;
}

.wybor_konia{
    display:flex;
    gap:50px;
    border: 3px solid black;
    border-radius:30px;
    background-color:rgb(128, 128, 128);
    padding:5px 20px;
}
.wybor_konia input{
    width:20px;
    border:2px solid black !important;
}
.kon_input{
    height:40px !important;
    margin-top:15px;
}

.menu {
    display: flex;
    height: 10%;
    margin: 0px;
    background: linear-gradient(180deg,rgb(78, 78, 78) 0%, rgb(128, 128, 128) 50%);
    width: 100%;
    border-bottom: 3px solid black;
    justify-content: right;
    align-items: center;
}
.ikonki {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:Impact;
}
.ikonka_wyloguj {
    width: 120px;
    height: 20px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 18px;
    background-color: red;
    margin: 20px;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.pusty {
    width: 33%;
}
.div_logo {
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.zlota_podkowa{
    height:25px;
}
.ikonka_kasa {
    width: 150px;
    height: 20px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 18px;
    background: linear-gradient(180deg,#cccccc 0%, rgb(242, 241, 241) 60%);
    text-align: center;
    padding: 10px 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}
.user_body {
    display: flex;
    height: 90%;
    width: 100%;
    margin: 0px;
}
.user_body_lewy {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}
.div_info img {
    width: 200px;
    border: black solid 4px;
    border-radius: 50px;
    padding: 20px;
    background: linear-gradient(180deg,#cccccc 0%, rgb(242, 241, 241) 60%);
}
.div_info {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
    border-bottom: 4px solid black;
    height:50%;
    background-image:url(/images/drewno.png)
}
.div_info_srodek {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 270px;
    background-color:white;
    border: black solid 4px;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 16px;
    font-family: Tahoma;
}
.div_praca {
    height: 50%;
    background-color: rgb(128, 128, 128);
    width: 100%;
    background: linear-gradient(360deg,#cccccc 0%, rgb(242, 241, 241) 60%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.p_praca {
    display: flex;
    gap: 10px;
    font-family: Impact;
    font-size: 22px;
    margin-bottom:15px;
}
.ikonka_praca {
    width: 280px;
    height: 60px;
    border: black solid 4px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 22px;
    background-color: rgb(128, 128, 128);
    margin-bottom:20px;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.komunikat_praca {
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: black solid 3px;
    border-radius: 50px;
    padding: 5px 20px;
    padding-top: 20px;
    height: 180px;
}
.ikonka_ok {
    width: 50px;
    height: 20px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 18px;
    background-color: #359b1d;
    margin: 20px;
    text-align: center;
    padding: 10px 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}
.user_body_prawy {
    width: 50%;
    height: 100%;
    border-left: 4px solid black;
    background: linear-gradient(360deg,#cccccc 0%, rgb(242, 241, 241) 60%);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.ikonka_ranking {
    width: 150px;
    height: 30px;
    border: black solid 4px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 22px;
    background-color: #359b1d;
    margin-bottom: 20px;
    text-align: center;
    padding: 10px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}

.lista_wyscigi {
    height: 80%;
    background-color: rgba(168, 168, 168, 1);
    width: 80%;
    margin: 20px;
    border: black solid 4px;
    border-radius: 5px;
}

/*Ranking*/
.user_ranking {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.div_ranking {
    height: 80%;
    width: 80%;
    margin-bottom: 20px;
    background-color: rgba(168, 168, 168, 1);
    border: black solid 4px;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image:url(/images/tlo2.png);
    background-position:center;
    background-size:cover;
}
.div_ranking2 {
    height: 80%;
    width: 90%;
    margin-bottom: 0px;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.div_podium {
    width: 700px;
    height: 90%;
    position: relative;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-top:150px;
}
.kon3, .kon2, .kon1{
    position:absolute;
    top:0px;
    left:0px;
}

.kon1{
    top:50px;
    left:240px;
}
.kon2 {
    top: 118px;
    left: 70px;
}
.kon3 {
    top: 138px;
    left: 410px;
}
.p_ranking{
    padding-top:-50px !important;
}
.karta_wyscig {
    border: black solid 4px;
    border-radius: 5px;
    display: flex;
    background: linear-gradient(360deg,#FFFFFF 40%, red 100%);
    font-size: 16px;
    flex-direction: column;
    padding: 8px 10px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    background-image:url(/images/flaga.jpg);
    background-size:cover;
}
.opis_wyscigu {
    display: flex;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-content: center;
    background-color: white;
    border-radius: 5px;
    border: black solid 4px;
    padding:5px;
}
.btn_udzial {
    width: 120px;
    height: 18px;
    border: black solid 3px;
    border-radius: 50px;
    font-family: Impact;
    font-size: 18px;
    background-color: #359b1d;
    text-align: center;
    padding: 7px 10px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
}