@{
    ViewData["Title"] = "Panel Admina";
}
<div class="okno_glowne">
    <img class="logo_glowne" src="~/images/Logo.png" />
    <div class="okno_logowanie">
        <p>
            Budowa toru w toku .... <br />
        </p>
        <a asp-controller="HorseRace" asp-action="Index" style="font-weight:600;">Cofnij</a>

    </div>

</div>